# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

pkg/
src/github.com/
src/golang.org/


#src/loyaltyWeb/vendor
#src/loyaltyWeb/js
#src/loyaltyWeb/fonts
#src/loyaltyWeb/css
# Output of the go coverage tool, specifically when used with LiteIDE
*.out